<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Simple Vue Bar Chart</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <!-- This is our container div, that we will reference in our script-->
  <div id="bars" :style="`width: ${svgWidth}px;`">
    <div id="controls">
      <p>Enter a value to compare</p>
      <!-- v-model let’s us interact with our data
            we can maipulate the val property of the first element in the array
            with data[0].val -->
      <input class="red" v-model="data[0].val" type="number" placeholder="edit me">
    </div>
    <!-- we can use {{  }} inside of html-tags
         to refernce a variable we define inside the Vue instance, 
         but it works only in the “linked” div -->
    <h4>{{ chartTitle }}</h4>
    <!-- There are two ways to link data to attribute in a html tag
         v-bind: is the literal way
         “:” is a short-hand because this method is used quite often -->
    <svg 
      v-bind:width="svgWidth" 
      :height="svgHeight">
      <!-- with v-for we can iterate over our vue data
           similar to D3 we can define (d, i) or (element, index)
           to use in the attributes
           remember : indicates that the string is interpreted
           you can use variables and calculations-->
      <rect v-for="(element, index) in data" 
        :height="element.val*40" 
        :width="28" 
        :x="index*30" 
        :y="svgHeight-element.val*40" 
        fill="#355C7D"
      />
    </svg>
  </div> 
  <!-- It’s important that your script is at the bottom of your body, 
  because we need the DOM to be ready-->
  <script src="script.js"></script>
</body>
</html>