html,
input,
bars {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: #355c7d;
}

.red {
  color: #c06c84;
}

#bars {
  margin: 0 auto;
}

#center {
  text-align: center;
}

div,
rect,
path,
text,
g,
line {
  transition: all 0.4s ease-in-out 0.4s;
}

rect:hover {
  fill: #c06c84;
  cursor: pointer;
  transition: fill ease-in-out 0.2s;
}
